.remove-btn {
    margin-left: 10px;
    background: none;
    color: red;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.layout {
    display: flex;
    width: 100%;
    height: calc(100vh - 20px);
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.left-panel {
    flex: 1;
    max-width: 1000px;
}

.right-panel {
    width: 350px;
    border-left: 2px solid #ddd;
    padding-left: 20px;
    overflow-y: auto;
}

.floor-selector {
    margin-bottom: 10px;
}

.floor-btn {
    margin-right: 10px;
    padding: 8px 14px;
    border: none;
    background: #eee;
    cursor: pointer;
}

.floor-btn:hover {
    background: #d0e2ff;
}

textarea, input {
    width: 100%;
    margin-bottom: 10px;
}

.save-btn {
    padding: 8px 14px;
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}


.slot-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.slot-button {
    margin: 10px 25px;
    padding: 10px 16px;
    border: 1px solid #ccc;
    background: #f3f3f3;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.2s;
}

.slot-button:hover {
    background: #e6e6e6;
}

.slot-button.active {
    background: #4caf50;
    color: white;
    border-color: #3e8e41;
}

.slot-button.disable {
    pointer-events: none;
    background-color: #ff4d4d;
    color: white;
    cursor: not-allowed;
}